# Default owners for everything in the repository
# Examples:
# /src/              @transurban/security-managers
# *.tf               @transurban/terraform-admins
# /docs/             @transurban/tech-writers